.maindiv{
    display: flex;
    background-color: white;
    padding:16px;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    box-sizing: border-box;
    height:56px;
    font-size: large;
}

.link{
    text-decoration: none;
    color:black;
    margin:15px 0px 15px 25px;
    height:100%;
}


.link:hover{
    color:blue;
}

div > i {
    cursor: pointer;
}




