.maindiv{
    background-color: white;
    padding:30px;
    display: flex;
    justify-content: space-between;
    align-items:center;

    box-sizing: border-box;
    height:8vh;
    min-height:56px;
    font-size: large;
}

.link{
    text-decoration: none;
    color:black;
    margin:15px 30px 15px 40px;
}


.link:hover{
    color:blue;
}

div > i {
    cursor: pointer;
}

form {
    text-align:center;
    display:flex;

    justify-content:center;
    align-content:center;
    width:720px;  
}

input{
    width:90%;
    padding: 2px 6px;
    text-align:center;
    font-size:medium;
    border-width:1px 1px 1px 1px;
    border-style:solid;
    border-color:grey;
}

form div{
    width:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(240, 240, 240);
    border-width:1px 1px 1px 0px;
    border-style:solid;
    border-color:grey;
}








